<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/scroll.js' %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Shafiya's Story 3</title>
</head>
<body>
        <!-- header-->
        {% include "page/header.html" %}
        <!-- insert body-->

        <!-- body custom-->
        {% block body %}
        {% endblock %}

        <!-- footer-->
        {% include "page/footer.html" %}
        
        <p style="text-align: center; color:#404E88; font-family: 'Roboto', sans-serif;">{{ current_date|date:"M d, Y"  }}</p>


</body>
</html>