{% extends 'page/base.html' %}
{% load static %}
{% block body %}

    <div class="dalam-border">
        <h1><b>Hello, World!</b></h1>
        <hr>
        <h4><b>Feb 21, 2019</b></h4>
        <p>Hello! I am Shafiya. Thank you for visiting my page! Hope you are doing well :)</p>
        <p>Currently I am a first year student majoring Computer Science in Universitas Indonesia. Previously, I studied economics on daily basis for two years. I have just started coding in 2018 and so far, I don't and won't regret my decision. </p>
        <p>These pages were made for Web Development course which I found out very fun! (and challenging). So far, I have learned about HTML and CSS. </p>
        <p>I don't know what to write on this my very first post, so maybe see you later?</p>
    </div>
{% endblock %}