{% extends 'page/base.html' %}
{% load static %}
{% block body %}


<div class="dalam-border">
    <h1>Project</h1>
    <hr>
{% for i in data %}
    <div>
        <div>
            <h2>{{i.title}}</h2>
            <p><b>Time :</b> {{i.start_date}} - {{i.end_date}}</p>
            <p><b>Place :</b> {{i.place}}</p>
        </div>

        <div>
            <span><b>Description :</b></span>
            <p>{{i.description}}</p>
            <p><b>Category :</b> {{i.category}}</p>
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-md-3 col-md-offset-5">
        <a href="/form">
          <button type="submit" class="submit">Add a new project</button>
        </a>
        </div>
      </div>


</div>

{% endblock %}
