{% extends 'page/base.html' %}
{% block body %}
{% load static %}

<div class="dalam-border">
    <h1>Input your project</h1>
    <hr>
    <div>
            <form action="{% url 'form' %}" method="POST" class="form-horizontal">
                    {% csrf_token %}
                    <!-- Displaying forms -->
                    {{ form }}
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-5" style="margin-top:2%;">
                          <button type="submit" class="submit" name="action">Submit</button>
                        </div>
                      </div>
            </form>
    </div>

</div>

{% endblock %}