{% load static %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">Shafiya</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li><a href="/blog">Blog</a>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="/form">Add Form</a></li>
                <li><a href="/show">Show Form</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          </ul>
        </div>
    </div>
    </nav> 