{% extends 'page/base.html' %}
{% load static %}
{% block body %}
    <div class="main" id="section1"></div>
        <div class="dalam-border">
            <div class="flex-container">
                <div><img src="{% static '/img/foto-shafiya.png' %}" alt="foto-shafiya" class="foto-pribadi"></div>
                <div class="konten-pribadi">
                    <h1><b>Hi, I'm Shafiya Adzhani!</b></h1>
                    <p>A first-year student majoring in Computer Science who aims to build greater things with tech. Pronouns: she/her.</p>
                    <a href="mailto:shafiya.adzhani@gmail.com"><img src="{% static '/img/email.svg' %}" alt="email" class="email"></a>
                    <a href="https://www.linkedin.com/in/shafiya-adzhani-455938177/" target="_blank"><img src="{% static '/img/linkedin.svg' %}" alt="linkedin" class="linkedin"></a>
                    <a href="https://www.github.com/adzshaf" target="_blank"><img src="{% static '/img/github.svg' %}" alt="github" class="github"></a>
                    <a href="#section2" class="button">More..</a>
                </div>
            </div>
            
        </div>
    <div class="main" id="section2"></div>
        <div class="dalam-border">
            <h2><b>Education</b></h2>
            <hr>
            <table>
                <tr>
                    <td>Bachelor’s Degree of Computer Science</td>
                    <td class="year">2018 - 2022</td>
                </tr>
                    <td>Universitas Indonesia</td>
                    <td></td>
            </table>
            <h2><b>Projects</b></h2>
            <hr>
            <div class="project-satu" style="display:flex;justify-content:center;align-items:center;">
                <img src="{% static '/img/site-quanta.png' %}" alt="Quanta's Website" class="quanta">
            </div>
                <h3 style="display:flex;justify-content:center;align-items:center;"><b>quanta2018.com/</b></h3>
                <p style="display:flex;justify-content:center;align-items:center;">Website made for showing</p> 
                <p style="display:flex;justify-content:center;align-items:center; margin-bottom:5%">Quanta's (Class of 2018) information</p>
            <div class="project-dua" style="display:flex;justify-content:center;align-items:center;">
                <img src="{% static '/img/mockup-line.png' %}" alt="Zomato bot" class="zomato">
            </div>
                <h3 style="display:flex;justify-content:center;align-items:center;"><b>LINE Zomato Bot</b></h3>
                <p style="display:flex;justify-content:center;align-items:center;">LINE messenger bot to show nearby restaurants</p> 
            <h2><b>Skills</b></h2>
            <hr>
            <div class= "container">
                <div class="row">
                <div class="col-sm-3">Python</div>
                <div class="col-sm-3">HTML</div>
                <div class="col-sm-3">CSS</div>
                </div>
            </div>
        </div>
{% endblock %}