{% extends 'page/base.html' %}
{% load static %}
{% block body %}
    <div class="dalam-border">
    <div class="signup">
        <h1><b>Sign Up</b></h1>
        <hr>
        <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter email" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Username:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Enter username" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label><input type="checkbox" required>I agree to our Terms & Privacy</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="submit">Submit</button>
              </div>
            </div>
          </form> 
    </div>
    </div>
{% endblock %}